<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mx-auto">
        <a href="#" class="nav-item nav-links">ABOUT US</a>
        <a href="#" class="nav-item nav-links">SUPPORT</a>
        <a href="#" class="nav-item nav-links">BLOG</a>
        <a href="#" class="nav-item nav-links">PRESS</a>
        <a href="#" class="nav-item nav-links">API</a>
        <a href="#" class="nav-item nav-links">PRIVACY</a>
        <a href="#" class="nav-item nav-links">TERMS</a>
        <a href="#" class="nav-item nav-links">DIRECTORY</a>
        <a href="#" class="nav-item nav-links">LANGUAGE</a>
      </div>
    </div>
  </nav>
</footer>
